<div class="w-full mt-3">
  @switch (services().state) {
    @case (state.LOADING) {
      <div
        class="rounded border border-surface-200 dark:border-surface-700 p-6 bg-surface-0 dark:bg-surface-900"
      >
        <ul class="m-0 p-0 list-none">
          <li class="mb-4">
            <div class="flex">
              <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
              <div class="self-center" style="flex: 1">
                <p-skeleton width="100%" styleClass="mb-2" />
                <p-skeleton width="75%" />
              </div>
            </div>
          </li>
          <li>
            <div class="flex">
              <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
              <div class="self-center" style="flex: 1">
                <p-skeleton width="100%" styleClass="mb-2" />
                <p-skeleton width="75%" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    }
    @case (state.ERROR) {
      <p-message severity="error">{{ services().message }}</p-message>
    }
    @case (state.LOADED) {
      <div class="w-full pb-3">
        <ul class="m-0 p-0 list-none">
          @for (s of services().data; track s.name + s.price + s.duration) {
            <li class="mt-4 cursor-pointer" tabindex="0" (click)="selected(s)">
              <p-card [header]="s.name">
                <div class="m-0 flex justify-between">
                  <span
                    >₦{{ s.price }} <strong>.</strong>
                    {{ formatSeconds(s.duration) }}
                  </span>

                  <p-radio-button
                    [name]="s.name"
                    [ngModel]="contains(s)"
                    [binary]="contains(s)"
                    [inputId]="s.name"
                    [value]="s"
                    (onClick)="selected(s)"
                  />
                </div>
              </p-card>
            </li>
          } @empty {
            <p class="font-semibold">
              No services available at the moment. Please try again later
            </p>
          }
        </ul>
        <div
          class="w-full mt-4 text-right"
          [ngClass]="{ hidden: selectedServices.length < 1 }"
        >
          <p-button
            label="Add"
            (click)="submit()"
            [disabled]="selectedServices.length < 1"
          />
        </div>
      </div>
    }
  }
</div>
